<!DOCTYPE html>
<!-- Copyright - 2023 -->
<html lang="en">
<head>
  <!-- Meta -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Get more sales on your products witha excellent price">
  <meta name="keywords" content="commerce, free, clients, marketing, money, easy, more sales, sales, all">
  <!-- Title -->
  <title>casmart | Login</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="./assets/images/favicon.svg" type="image/x-icon">
  <!-- Style -->
  <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body> 
  
  <header class="log-1">
    <img src="./assets/images/logo.svg" alt="logo">
    <h1>Login</h1>
  </header>

  <p>
    Sign in for get our services, more views and sales. <br>
    Best services fast and effective. <br>
    Best prices.
  </p>

  <p class="log-2">Rated Excellent on <span>TrustPilot</span></p>
  <img src="./assets/images/stars.svg" alt="stars">

  <a href="/google" class="log-3">
    <div class="log-4">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2008px-Google_%22G%22_Logo.svg.png" width="22" alt="google">
    </div>
    <span> Continue with Google </span>
  </a>

  <!-- <a href="/facebook" class="log-5">
    <img src="https://img.freepik.com/vecteurs-premium/logo-medias-sociaux-bleu_197792-1759.jpg" width="50" alt="facebook">
    <span> Continue with Facebook </span>
  </a> -->

  <a href="/terms" class="log-6">
    Terms of use
  </a>
    
</body>
</html>