<!DOCTYPE html>
<!-- Copyright - 2023 -->
<html lang="en">
<head>
  <!-- Meta -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Title -->
  <title>casmart | Terms of use</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="./assets/images/favicon.svg" type="image/x-icon">
  <!-- Style -->
  <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body> 
  
  <header class="log-1">
    <img src="./assets/images/logo.svg" alt="logo">
    <h1>Terms</h1>
  </header>

  <li class="terms-1">After logging in you accept the terms of use.</li>
  <li class="terms-1">Use of our website constitutes your acceptance the terms of use.</li>
  <li class="terms-1">Users data don't share with anything (your data is fully encrypted).</li>
  <li class="terms-1">
    If you create new product, we will take the value of the cost from your balance if it is available,
    and if it is not, we will clear an error for you thst your balance is insufficient.
  </li>
  <li class="terms-1">
    Work method: we are taking your products information and your contact number,
    and share it in facebook (posts, marketplace, ads, reels) and tiktok (ads, reels) with best price for you.
  </li>
  <li class="terms-1">Deposit service tooking from 1h to 24h (some cases maximun 48h).</li>
  <li class="terms-1">Can't withdraw your deposits currently (your deposits is just for can using our services in this website).</li>
  <li class="terms-1">We don't take responsibility for not getting sales, we do our job perfectly.</li>
  <li class="terms-1">
    Make sure of this information in your product in order to get sales: <br>
    Good and clear picture <br>
    Short name <br>
    beautiful price like 199 dh, 99 dh, 49 dh ... <br>
    Good description <br>
    Free delivery (can you add it fee enter price product) to all morocco <br>
  </li>
  <li class="terms-1">For contact support click button in bottom home page.</li>
  <li class="terms-1">In the next updates these conditions may change.</li>
    
</body>
</html>